// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #ff006b;
$secondary: #b63eb8;
$accent: #15acac;

$dark: #202225;
$lighter: #2f3136 !default;
$lightest: #36393f !default;

$dark-page: $lightest;

$positive: #66bb6a;
$negative: #ef5350;
$info: #42a5f5;
$warning: #ffa726;

$generic-border-radius: 8px;
$button-border-radius: 8px;

$dark-shadow-color: #000;
$layout-shadow-dark: 0 0 10px 2px rgba(0, 0, 0, 0.2),
  0 0px 10px rgba(0, 0, 0, 0.24);
